[tool.poetry]
name = "sbot"
version = "0.7.0"
description = "SourceBots API"
authors = ["SourceBots <hello@sourcebots.co.uk>"]
readme = "README.md"
repository = "https://github.com/sourcebots/sbot"
homepage = "https://sourcebots.co.uk"
documentation = "https://docs.sourcebots.co.uk"
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Operating System :: OS Independent",
    "Development Status :: 3 - Alpha",
    "Typing :: Typed",
    "Topic :: Education",
]

[tool.poetry.dependencies]
python = "^3.6"
j5 = "^0.7.6"


[tool.poetry.dev-dependencies]
flake8 = "^3.7"
flake8-commas = "^2.0"
flake8-comprehensions = "^3.1"
flake8-debugger = "^3.2"
flake8-docstrings = "^1.5"
flake8-isort = "^2.8"
flake8-mutable = "^1.2"
flake8-todo = "^0.7.0"
mypy = "^0.761"
pytest = "^5.3"
pytest-cov = "^2.8"
rope = "^0.14.0"
isort = {version = "^4.3",extras = ["pyproject"]}
sphinx = "^2.3"
sphinx-rtd-theme = "^0.4.3"
recommonmark = "^0.6.0"
sphinx-markdown-tables = "^0.0.10"

# See https://gitlab.com/pycqa/flake8-docstrings/issues/36
pydocstyle = "~5"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
