name: Lint & build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: "3.8"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[dev]
    - name: Lint
      run: |
        make lint
    - name: Isort
      run: |
        make isort-check
    - name: Typecheck
      run: |
        make type
    - name: Run tests
      run: |
        pip install opencv-python-headless
        make test
    - name: Build package
      run: |
        make build
    - name: Save built package
      uses: actions/upload-artifact@v3
      with:
        name: package
        path: |
          dist
    # - name: Publish to PyPi
    #   if: ${{ github.ref_type	== 'tag' }}
    #   uses: pypa/gh-action-pypi-publish@v1.6.4
    #   with:
    #     password: ${{ secrets.PYPI_API_TOKEN }}
    #     print_hash: true
